@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1;font-family: 'Open Sans', sans-serif; background: #F7FAFC;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
section{display: block;}
ul{list-style: none;}
img{max-width: 100%;}
/*---------------------------------------global class-----------------------------------------------*/
*>.row{
    margin:0
}
.title-content{
    font-size: 54px;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: center;
    color:#4CACE5;
    margin-bottom: 44px;
    text-transform: capitalize;
}
.col-2-5{
    width:20%;
}
/*---------------------------------------start header-----------------------------------------------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    position: block;
    top: 0;
    background: linear-gradient(90deg, rgba(14, 42, 132, 0.5) 0%, transparent 42.36%);
    z-index: 9999;
}
.navbar {
    font-weight: 500;
    font-size: 14px;
    margin-right: 0;
    margin-left: 0;
    flex-wrap: nowrap;
}
.navbar-brand {
    color: #fff;
    font-size: 25px;
    font-family: 'Koulen', cursive;
    font-weight: 400;
    line-height: 45px;
}
.navbar-nav .nav-item{
    margin-left: 12px;
    margin-right: 12px;
}
.navbar-nav .nav-item:last-child{
    margin-right: 0;
}
.navbar-nav .nav-item .nav-link {
    padding: 6px 14px;
    text-align: center;
    font-weight: 600;
    line-height: 19px;
    text-transform: uppercase;
    color: #fff;
}
.navbar-nav .nav-item .nav-link.active{
    background: #1B81BB;
    border-radius: 4px;
    font-weight: 600;
}
.navbar .navbar-toggler{
    position: absolute;
    right: 0;
}
.navbar .navbar-collapse.show {
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
}
/*---------------------------------------end header-----------------------------------------------*/

/*---------------------------------------start banner-----------------------------------------------*/
.banner {
    background: linear-gradient(90deg, #2E9EE0 0%, #93CDEF 100%);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: auto;
    position: relative;
    padding-top: 146px;
    padding-bottom:57px;
}
.banner_top{
    margin-bottom: 60px;
}
.banner_top h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.07em;
    color: #fff;
    margin-bottom: 27px;
}
.banner_top p{
    font-size: 36px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0.03em;
    color: #fff;
}
.banner_top p span{
    background: #3272C9;
    padding:0 4px;
}

.banner_bottom .about-us{
    max-width:800px;
    width: 50%;
    padding:56px 52px 67px 42px;
    background: linear-gradient(269.35deg, #36D1DC 0.56%, #5B86E5 99.47%);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    
}
.banner_bottom h1,
.banner_bottom h2,
.banner_bottom h3{
    color:#fff;
    text-transform: uppercase;

}

.banner_bottom .about-us h1{
    font-size: 18px;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0.07em;
    text-align: left;
}
.banner_bottom .about-us h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.07em;
    text-align: center;
    margin:14px 0;
}
.banner_bottom .about-us h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
}
.banner_bottom .about-us p{
    font-size: 18px;
    font-weight: 600;
    line-height: 31px;
    text-align: left;
    margin-top:35px;
    color:#fff;
}
.banner_bottom .banner_img{
    bottom:-100px; 
    left:66px;
    max-width: 588px;
}
.banner_bottom .banner_img .polygon-bot{
    bottom:-19px; 
    left:190px;
    max-width:172px;
}
.banner_bottom .banner_img .polygon-left{
    left:-66px;
    bottom:83px; 
}
.banner_bottom .banner_img .main-img{
    z-index: 10;
}
/*---------------------------------------end banner-----------------------------------------------*/
/*---------------------------------------start services-----------------------------------------------*/
.services{
    margin-top:269px;
}
.services_content{
    grid-column-gap: 41px;
}
.services_content_item{
    background: #FFFFFF;
    border: 2px solid #E8F2FC;
    box-shadow: 0px 4px 20px #F2F6FA;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding:32px 58px 0;
    height: 478px;
}
.services_content_item h2{
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    margin-top:30px;
    color: #071B3A;
}
.services_content_item p{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #6F7B88;
    margin-top:50px;   
}
/*---------------------------------------end services-----------------------------------------------*/
/*---------------------------------------start process-----------------------------------------------*/
.process{
    margin-top:94px;
}
.process_content>img{
    top:-44px;
    z-index: 1;
    opacity: 0.7;
}
.process-item{
    background: #FFFFFF;
    border: 1px solid #E8F2FC;
    box-shadow: 0px 4px 20px #F2F6FA;
    height: 143px;
    max-width: 616px;
    z-index: 10;
}
.process-item-left{
    justify-content: start;
}
.process-item-right{
    justify-content: end;
}
.process-item-left .process-item{
    padding:14px 75px 14px 115px;
    text-align: right;
}
.process-item-right .process-item{
    padding:14px 100px 14px 75px;
    text-align: left;
}
.process-item h2{
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: #071B3A;
}
.process-item p{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin-top:14px;
    color: #6F7B88;

}
.process-item-left img{
    top:0;
    right:-16px;
}
.process-item-right img{
    top:0;
    left:-16px;
}
/*---------------------------------------end process-----------------------------------------------*/
/*---------------------------------------start product-----------------------------------------------*/
.product{
    margin-top:83px;
}
.product .overlay{
    z-index: 1;
    left: -60px;
    bottom: -170px;
}
.product-tabs{
    z-index: 10;
}
.product-tabs .nav{
    background: #FFFFFF;
    border-radius: 8px;
    z-index: 10;
}
.product-tabs .nav-tabs .nav-link {
    border: none;
    border-right: 1px solid #EBF7FF;
    padding-top:12px;
    padding-bottom:12px;
    transition: all 0.5s;
}
.product-tabs .nav-tabs .nav-link:last-child{
    border: none;
}
.product-tabs .nav-tabs .nav-link.active{
    background: linear-gradient(90deg, #7F7FD5 0%, #86A8E7 52.08%, #91EAE4 100%);
    border-radius: 8px;
    transition: all 0.5s;
}
.product-tabs .tabs-overlay{
    background:linear-gradient(180deg, #C4C4C4 70%, rgba(93, 89, 89, 0) 100%);
    width: 100%;
    height: 100%;
    z-index: 1;
    top:20px;
    left:0;
}
.product-tabs .tab-content{
    padding-top: 30px;
    padding-bottom:24px;
    background: #FFFFFF;
    box-shadow: 0px 13px 20px rgba(209, 209, 209, 0.25);
    border-radius: 8px
}
.product-tabs .tab-content h2{
    padding-top:25px;
    padding-bottom:24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color:#071B3A ;
}
.product-tabs .tab-content p{
    padding:34px 0; 
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    color: #6F7B88;
}
.product-tabs .tab-content .row{
    border-top: 1.5px solid #EFF4F8;
}.product-tabs .tab-content .row:first-child{
    border-top:none;
}
.product-tabs .tab-content .col-5{
    padding-left:74px;
    border-right:1px solid #EFF4F8;
}
.product-tabs .tab-content .col-7{
    padding-left:155px;
    padding-right:200px;
    border-right:1px solid #EFF4F8;
}
.product-tabs .tab-content .col-7 h2{
    text-align: center;
}
.product-carousel{
    z-index: 10;
    width: calc(100% + 30px);
    margin-top:46px;
    margin-left: -15px;
    margin-right: -15px;
}
.product-carousel .owl-stage-outer{
    width: 100%;
    margin: 0;
}
.product-carousel .owl-stage-outer .owl-item{
    margin:0;
}
.product-carousel .item{
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(209, 209, 209, 0.25);
    border-radius: 8px;
    min-height: 522px;
    margin:17px;
}
.product-carousel .item:hover{
    box-shadow: 0px 4px 32px #C6C8FF;
}
.product-carousel .item img{
    width: 100%;
    height:234px;
}
.product-carousel .item .item-content{
    padding:0 18px 0 20px;
}
.product-carousel .item .item-content h2{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #071B3A;
    margin-top:20px;
}
.product-carousel .item .item-content p{
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color:#6F7B88;
}
.product-carousel .item .item-content .desc{
    margin-top:36px;
}
/*---------------------------------------end product-----------------------------------------------*/
/*---------------------------------------start technology-----------------------------------------------*/
.technology{
    margin-top:76px;
    z-index: 10;
    padding:92px 0 262px 0;
    background: #FFFFFF;
}
.technology .overlay{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.technology_content{
    max-width: 830px;
    margin: 0 auto;
}
.technology-tabs .nav-tabs{
    border:none;
    grid-column-gap: 115px;
}
.technology-tabs .nav-link{
    padding: 0;
    border:none;
    border-bottom:2px solid transparent;
    padding-bottom:26px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color:#424242;
    transition: color 0.5s;
}
.technology-tabs .nav-link:hover{
    border:none;
    border-bottom:2px solid transparent;
    color: #4CACE5;
}
.technology-tabs .nav-link:focus{
    border:none;
    border-bottom:2px solid transparent;
}
.technology-tabs .nav-link:focus-visible{
    outline:none;
}
.technology-tabs .nav-link.active{
    border:none;
    color: #39C1F4;
    border-bottom:2px solid #39C1F4;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;

}
.technology-tabs .tab-pane{
    margin-top:44px;
}
.technology-lists{
    padding: 0 34px;
    grid-row-gap: 69px;
}
.technology-lists .col-2-5{
    height:105px;
}
.technology-lists .col-2-5 img{
    width: 64px;
    height: 64px;
}
.technology-lists .col-2-5 p{
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    margin-top:25px;
}

/*---------------------------------------end technology-----------------------------------------------*/
/*---------------------------------------start product-----------------------------------------------*/
/*---------------------------------------end product-----------------------------------------------*/
/*---------------------------------------start product-----------------------------------------------*/
/*---------------------------------------end product-----------------------------------------------*/
@media screen and (min-width:992px) {
    .services_content{
        grid-row-gap: 41px;
        justify-content: center;
    }
    .services_content_item{
        width: 45%;
    }
}
@media screen and (min-width:1200px) {
    /* Global */
    .container-cus{
        max-width: 100%;
        padding:0 50px;
    }
    /* Header */
    .navbar-nav .nav-item{
        margin-left: 18px;
        margin-right: 18px;
    }
    /* Banner */
    .banner_bottom .banner_img{
        max-width:500px;
        bottom:-86px;
    }
    .banner_bottom .banner_img .polygon-bot{
        bottom:-19px; 
        left:165px;
        max-width:150px;
    }
    /* Services */
    .services_content_item{
        padding-left:30px;
        padding-right:30px;
    }
    /* Process Execution */
    .process-item-left{
        margin-right:50px;
    }
    .process-item-right{
        margin-left:50px;
    }
    .process-item-left .process-item{
        padding:14px 75px;
    }
    .process-item-right .process-item{
        padding:14px 75px;
    }
}
@media screen and (min-width:1400px) {
    /* Global*/
     .container-cus{
        max-width: 1320px;
        padding:0;
    }
    /* Header */
    .navbar-nav .nav-item{
        margin-left: 18px;
        margin-right: 18px;
    }
    /* Banner */
    .banner_bottom .banner_img{
        bottom:-100px; 
        left:66px;
        max-width: 588px;
    }
    .banner_bottom .banner_img .polygon-bot{
        bottom:-19px; 
        left:190px;
        max-width:172px;
    }
    /* Process Execution */
    .process-item-left{
        margin-right:0;
    }
    .process-item-right{
        margin-left:0;
    }
    .process-item-left .process-item{
        padding:14px 75px 14px 115px;
    }
    .process-item-right .process-item{
        padding:14px 100px 14px 75px;
    }
}