@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Koulen&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1;font-family: 'Open Sans', sans-serif; background: #F7FAFC;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
section{display: block;}
ul{list-style: none;}
img{max-width: 100%;}
/*---------------------------------------global class-----------------------------------------------*/
*>.row{
    margin:0
}
html:focus-within{
    scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  background: #F7FAFC;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
  background: #46A3E4; 
  border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4C99E8; 
}
.title-content{
    font-size: 54px;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: center;
    color:#4CACE5;
    margin-bottom: 44px;
    text-transform: capitalize;
}
.col-2-5{
    width:20%;
}
.logo{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.logo p{
    font-family: "Inter";
    font-weight: 400;
    color:#fff;
    text-transform: uppercase;
}
/*---------------------------------------start header-----------------------------------------------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    position: block;
    top: 0;
    background: linear-gradient(90deg, rgba(14, 42, 132, 0.5) 0%, transparent 42.36%);
    z-index: 9999;
    transition: all 0.3s;
}
.navbar {
    font-weight: 500;
    font-size: 14px;
    margin-right: 0;
    margin-left: 0;
    flex-wrap: nowrap;
}
.navbar-brand.logo {
    width: 57px;
}
.navbar-brand.logo img{
    width: 50px;
    height: 44px;
}
.navbar-brand.logo p{
    line-height: 17px;
    font-size: 14px;
}
/* .navbar-nav .nav-item{
    margin-left: 12px;
    margin-right: 12px;
} */
.navbar-nav .nav-item:last-child{
    margin-right: 0;
}
.navbar-nav .nav-item .nav-link {
    padding: 6px 14px;
    text-align: center;
    font-weight: 600;
    line-height: 19px;
    text-transform: uppercase;
    color: #fff;
}
.navbar-nav .nav-item .nav-link.active{
    background: #F19B38;
    border-radius: 4px;
    font-weight: 600;
}
.navbar .navbar-toggler{
    position: absolute;
    right: 0;
}
.navbar .navbar-collapse.collapsing,
.navbar .navbar-collapse.show {
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
}
.navbar .navbar-collapse.show{
    background-color: #000;
    width: 100%;
}
/*---------------------------------------end header-----------------------------------------------*/
/*---------------------------------------start banner-----------------------------------------------*/
.banner {
    background: linear-gradient(90deg, #2E9EE0 0%, #93CDEF 100%);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: auto;
    position: relative;
    padding-top: 146px;
    padding-bottom:57px;
}
.banner_top{
    margin-bottom: 60px;
}
.banner_top h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.07em;
    color: #fff;
    margin-bottom: 27px;
}
.banner_top p{
    font-size: 36px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0.03em;
    color: #fff;
}
.banner_top p span{
    background: #3272C9;
    padding:0 4px;
}

.banner_bottom .about-us{
    max-width:800px;
    width: 50%;
    padding:56px 52px 67px 42px;
    background: linear-gradient(269.35deg, #36D1DC 0.56%, #5B86E5 99.47%);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    
}
.banner_bottom h1,
.banner_bottom h2,
.banner_bottom h3{
    color:#fff;
    text-transform: uppercase;
}

.banner_bottom .about-us h1{
    font-size: 18px;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0.07em;
    text-align: left;
}
.banner_bottom .about-us h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.03em;
    text-align: center;
    margin:14px 0;
}
.banner_bottom .about-us h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
}
.banner_bottom .about-us p{
    font-size: 18px;
    font-weight: 600;
    line-height: 31px;
    text-align: left;
    margin-top:35px;
    color:#fff;
}
.banner_bottom .banner_img{
    bottom:-100px; 
    left:66px;
    max-width: 588px;
}
.banner_bottom .banner_img .polygon-bot{
    bottom:-19px; 
    left:190px;
    max-width:172px;
}
.banner_bottom .banner_img .polygon-left{
    left:-66px;
    bottom:83px; 
}
.banner_bottom .banner_img .main-img{
    z-index: 2;
    max-width: 470px;
    bottom:180px;
    left: -60px;
}
/*---------------------------------------end banner-----------------------------------------------*/
/*---------------------------------------start core-----------------------------------------------*/
.core{
    padding-top:92px;
    padding-bottom:92px;
    min-height: 723px;
    background: #FFF;
    z-index: 3;
}
.core>img{
    position: absolute;
    z-index: 4;
}
.core .ovl-1{
    width: 100%;
    bottom: 60px;
    left: 0;
}
.core .ovl-2{
    width: 15px;
    height: 15px;
    top:84px;
    left:84px;
}
.core .ovl-3{
    width: 19px;
    height: 19px;
    right:79px;
    bottom:266px;
    z-index: 5;
}
.core .container{
    z-index: 10;
}
.core_content{
    /* max-width: 1030px; */
    margin:0 auto;
    flex-wrap: wrap;
    grid-row-gap: 40px;
}
.core_content .core_item{
    width:33%;
    /* max-width:309px; */
}
.core_content .core_item img{
    width: 33%;
}
.core_content .core_item h2{
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #071B3A;
}
.core_content .core_item p{
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    max-width:309px;
}
/*---------------------------------------end core-----------------------------------------------*/
/*---------------------------------------start services-----------------------------------------------*/
.services{
    margin-top:92px;
}
.services_content{
    grid-column-gap: 41px;
}
.services_content_item{
    background: #FFFFFF;
    border: 2px solid #E8F2FC;
    box-shadow: 0px 4px 20px #F2F6FA;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding:32px 58px 0;
    height: 478px;
    transition: all 0.5s;
}
.services_content_item:hover{
    transform: scale(1.05);
    box-shadow: 0px 7px 20px #88c7ed;
}
.services_content_item h2{
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    margin-top:30px;
    color: #071B3A;
}
.services_content_item p{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #6F7B88;
    margin-top:50px;   
}
/*---------------------------------------end services-----------------------------------------------*/
/*---------------------------------------start process-----------------------------------------------*/
.process{
    margin-top:94px;
}
.process .ovl{
    bottom:-50px;
    left:0;
    z-index:1 ;
    height:100%
}
.process_content>img{
    top:-44px;
    z-index: 1;
    opacity: 0.7;
}
.process-item{
    background: #FFFFFF;
    border: 1px solid #E8F2FC;
    box-shadow: 0px 4px 20px #F2F6FA;
    height: 143px;
    max-width: 616px;
    z-index: 10;
}
.process-item-left{
    justify-content: start;
}
.process-item-right{
    justify-content: end;
}
.process-item-left .process-item{
    padding:14px 75px 14px 115px;
    text-align: right;
}
.process-item-right .process-item{
    padding:14px 100px 14px 75px;
    text-align: left;
}
.process-item h2{
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: #071B3A;
}
.process-item p{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin-top:14px;
    color: #6F7B88;

}
.process-item-left img{
    top:0;
    right:-16px;
}
.process-item-right img{
    top:0;
    left:-16px;
}
/*---------------------------------------end process-----------------------------------------------*/
/*---------------------------------------start product-----------------------------------------------*/
.product{
    margin-top:83px;
}
.product .overlay{
    z-index: 1;
    left: 0;
    bottom: -170px;
}
.product .ovl-pro-l{
    z-index: 1;
    top:340px;
    left:0;
}
.product .ovl-pro-r{
    z-index: 1;
    top:60px;
    right:0;
}
.product-tabs{
    z-index: 10;
}
.product-tabs .nav{
    background: #FFFFFF;
    border-radius: 8px;
    z-index: 10;
}
.product-tabs .nav-tabs .nav-link {
    border: none;
    border-right: 1px solid #EBF7FF;
    padding-top:12px;
    padding-bottom:12px;
    transition: all 0.5s;
    border-radius: 8px;
}
.product-tabs .nav-tabs  .nav-link:focus{
    border:none;
    border-right: 1px solid #EBF7FF;
}
.product-tabs .nav-tabs .nav-link:focus-visible{
    outline:none;
}
.product-tabs .nav-tabs .nav-link:last-child{
    border: none;
}
.product-tabs .nav-tabs .nav-link.active{
    background: linear-gradient(90deg, #7F7FD5 0%, #86A8E7 52.08%, #91EAE4 100%);
    border-radius: 8px;
    transition: all 0.5s;
}
.product-tabs .tabs-overlay{
    background:linear-gradient(180deg, #C4C4C4 70%, rgba(93, 89, 89, 0) 100%);
    width: 100%;
    height: 100%;
    z-index: 1;
    top:20px;
    left:0;
}
.product-tabs .tab-content{
    padding-top: 30px;
    padding-bottom:24px;
    background: #FFFFFF;
    box-shadow: 0px 13px 20px rgba(209, 209, 209, 0.25);
    border-radius: 8px
}
.product-tabs .tab-content h2{
    padding-top:25px;
    padding-bottom:24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color:#071B3A ;
}
.product-tabs .tab-content p{
    padding:34px 0; 
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    color: #6F7B88;
}
.product-tabs .tab-content .row{
    border-top: 1.5px solid #EFF4F8;
}.product-tabs .tab-content .row:first-child{
    border-top:none;
}
.product-tabs .tab-content .col-5{
    padding-left:74px;
    border-right:1px solid #EFF4F8;
}
.product-tabs .tab-content .col-7{
    padding-left:155px;
    padding-right:200px;
    border-right:1px solid #EFF4F8;
}
.product-tabs .tab-content .col-7 h2{
    text-align: center;
}
.product-carousel{
    z-index: 10;
    width: calc(100% + 50px);
    margin-top:16px;
    margin-left: -25px;
    margin-right: -25px;
}
.product-carousel .owl-stage-outer{
    width: 100%;
    margin: 0;
}
.product-carousel .owl-stage-outer .owl-item{
    margin:0;
}
.product-carousel .item{
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(209, 209, 209, 0.25);
    border-radius: 8px;
    min-height: 522px;
    margin:30px 25px;
    transition: all 0.25s;
    min-height: 550px;
}
.product-carousel .item:hover{
    box-shadow: 0px 4px 32px #C6C8FF;
}
.product-carousel .item img{
    width: 100%;
    height:234px;
}
.product-carousel .item .item-content{
    padding:0 18px 10px 20px;
}
.product-carousel .item .item-content h2{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #071B3A;
    margin-top:20px;
}
.product-carousel .item .item-content p{
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color:#6F7B88;
}
.product-carousel .item .item-content .desc{
    margin-top:36px;
}
/*---------------------------------------end product-----------------------------------------------*/
/*---------------------------------------start technology-----------------------------------------------*/
.technology{
    margin-top:76px;
    z-index: 10;
    padding:92px 0 0 0;
    background: #FFFFFF;
    min-height:685px;
}
.technology .ovl-t-1{
    top:183px;
    left: 110px;
    z-index: 1;
}
.technology .ovl-t-2{
    top:224px;
    right: 43px;
    z-index: 1;
}
.technology .ovl-t-3{
    bottom:131px;
    left: 113px;
    z-index: 1;

}
.technology .ovl-t-4{
    bottom:100px;
    right: 113px;
    z-index: 2;

}
.technology .ovl-t-5{
    bottom:0;
    right: 0;
    z-index: 1;
}
.technology .container{
    z-index: 10;
}
.technology_content{
    max-width: 830px;
    margin: 0 auto;
}
.technology-tabs .nav-tabs{
    border:none;
    grid-column-gap: 115px;
}
.technology-tabs .nav-link{
    padding: 0;
    border:none;
    border-bottom:2px solid transparent;
    padding-bottom:26px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color:#424242;
    transition: color 0.25s;
}
.technology-tabs .nav-link:hover{
    border:none;
    border-bottom:2px solid transparent;
    color: #4CACE5;
}
.technology-tabs .nav-link:focus{
    border:none;
    border-bottom:2px solid transparent;
}
.technology-tabs .nav-link:focus-visible{
    outline:none;
}
.technology-tabs .nav-link.active{
    border:none;
    color: #39C1F4;
    border-bottom:2px solid #39C1F4;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;

}
.technology-tabs .tab-pane{
    margin-top:44px;
}
.technology-lists{
    padding: 0 34px;
    grid-row-gap: 69px;
}
.technology-lists .col-2-5{
    height:105px;
    transition: all 0.5s;
}
.technology-lists .col-2-5:hover{
    transform: scale(1.2);
}
.technology-lists .col-2-5 img{
    width: 64px;
    height: 64px;
}
.technology-lists .col-2-5 p{
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    margin-top:25px;
}

/*---------------------------------------end technology-----------------------------------------------*/
/*---------------------------------------start contact us-----------------------------------------------*/
.contact-us{
    min-height:848px;
    padding-bottom:81px;
} 
.contact-us textarea::-webkit-scrollbar {
    width: 4px;
}
.contact-us textarea::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #F25700 0%, #D97500 100%);
}
.contact-us .ovl-bg{
    width:100%;
    /* height:474px; */
    z-index:1;
}
.contact-us .ovl-l{
    z-index: 2;
    top:25px;
    left:0;
}
.contact-us .ovl-r{
    z-index: 2;
    top:25px;
    right:0;
}
.contact-us .container{
    z-index: 10;
    padding-top: 42px;
}
.contact-us h1{
    color:#fff;
}
.contact-us-content{
    margin-top:30px;
    max-width: 80%;
    margin: 0 auto;
    grid-column-gap: 46px;
}
.content-l>img{
    width:100%;
}
.content-l h2{
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    color: #000;
    max-width:60%;
    margin: 50px auto 0;
}
.content-l .item{
    max-width:60%;
    margin:20px auto 0;
}
.content-l .item h3,
.content-l .item p{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    margin-left: 10px;
}
.content-l .item p{
    margin-left: 0;
    margin-top:12px;
    font-weight: 400;
}
.contact-us-content form{
    min-height:472px;
    background: #FFFFFF;
    border: 1px solid #E8F2FC;
    box-shadow: 1px -2px 14px #A6A6A6;
    border-radius: 18px;
    padding:26px 25px 44px;
    min-width: 347px;
    max-width: 400px;
    margin: 53px auto 0;
}
.contact-us-content form img{
    top:50%;
    transform: translateY(-50%);
    left:22px;
    width: 14px;
    height: 14px;
}
.contact-us-content form .mess{
    top:17px;
    transform: none;
}
.contact-us-content input,
.contact-us-content textarea,
.contact-us-content button
{
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #6F7B88;
    padding:17px 44px;
    background: #F6F6F6;
    border: 1px solid #F1F1F1;
    border-radius: 4px;
}
.contact-us-content input::placeholder{
    color: #6F7B88;
}
.contact-us-content input:focus,
.contact-us-content textarea:focus
{
    color: #6F7B88;
    box-shadow: none;
    background: #F6F6F6;
    border: 1px solid #F1F1F1;
    outline: none;
}
.contact-us-content textarea{
    min-height: 127px;
    resize: none;
}
.contact-us-content button{
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    background: linear-gradient(90deg, #F25700 0%, #D97500 100%);
    width: 100%;
    padding:17px;
    transform: scale(1);
    transition: all 0.5s;
}
.contact-us-content button:hover,
.contact-us-content button:active{
    border-color: #F1F1F1;
}
.contact-us-content button:hover{
    transform: scale(1.05);
    background: linear-gradient(270deg, #F25700 0%, #D97500 100%);
}
.contact-us-content button:focus-visible{
    outline: none;
}
.contact-us-content button:active:focus,
.contact-us-content button:focus{
    box-shadow: none;
    border-color:#F1F1F1;
}
.contact-us-content form .require{
    box-shadow: 4px 4px 14px #a6a6a6;
    bottom:-36px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    padding:6px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #6F7B88;
    display: none;
    transition: all 0.5s;
}
.contact-us-content form .require::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    bottom:22px;
    border-left: 1px solid #6F7B88;;
    border-top: 1px solid #6F7B88;;
    left: 20px;
    transform:  rotate(45deg);
    z-index: 20;
    position: absolute;
}
.contact-us-content form .noti img,
.contact-us-content form .require img
{   
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:0;
    left:0;
    transform: none;
    margin-right:10px;
}
.contact-us-content form .require p{
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}
.success{
    color:#26a526;
}
.fail{
    color:red
}
/*---------------------------------------end contact us-----------------------------------------------*/
/*---------------------------------------start footer-----------------------------------------------*/
.footer{
    background-color: #0C0042;
    height: 267px;
}
.footer .ovl-f1{
    bottom:0;
    left:117px;
}
.footer .ovl-f2{
    top:0;
    right:334px;
}
.footer .ovl-f3{
    right:0;
    bottom:39px;
}
.footer_content{
    height: 100%;
}
.footer_content .logo img{
    width: 103px;
    height: 93px;
}
.footer_content .logo p{
    font-size: 29px;
    line-height: 35px;
}
.footer_content h3{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color:#FFFFFF;
    margin-top:23px;
}
/*---------------------------------------end footer-----------------------------------------------*/
@media screen and (min-width:992px) {
    .services_content{
        grid-row-gap: 41px;
        justify-content: center;
    }
    /* Header */
    .header .container {
        max-width: 100%;
    }
    .navbar-brand.logo {
        margin: 0 auto;
    }
    .navbar-nav .nav-item{
        margin-left: 0px;
        margin-right: 0px;
    }
    /* Banner */
    .banner_bottom .banner_img .main-img{
        max-width: 470px;
        bottom:180px;
        left: -60px;   
    }
    /* Core value */
    .core_content .core_item{
        width:30%;
        margin:0 15px;
    }
    /* Services */
    .services_content_item{
        width: 45%;
    }
    /* Process */
    .process_content{
        display: flex;
        flex-direction: column;
        grid-row-gap: 20px;
    }
    /* Contact */
    .contact-us-content form{
        margin-top: 0px;
    }
}
/* @media screen and (min-width:1070px){
    .header .navbar .navbar-toggler{
        display: none;
    }
} */
@media screen and (min-width:1200px) {
    /* Global */
    .container-cus{
        max-width: 100%;
        padding:0 50px;
    }
    /* Header */
    /* Header */
    .header .container{
        max-width:1170px;
    }
    .navbar-brand.logo {
        margin: 0;
    }
    .navbar-nav .nav-item{
        margin-left: 9px;
        margin-right: 9px;
    }
    /* Banner */
    .banner_bottom .banner_img{
        max-width:500px;
        bottom:-86px;
    }
    .banner_bottom .banner_img .polygon-bot{
        bottom:-19px; 
        left:165px;
        max-width:150px;
    }
    .banner_bottom .banner_img .main-img{
        max-width: 100%;
        bottom:0px;
        left: 0px;    
    }
    /* Core value */
    .core_content .core_item{
        width:33%;
        margin:0;
    }
    /* Services */
    .services_content_item{
        padding-left:30px;
        padding-right:30px;
    }
    /* Process Execution */
    .process_content{
        display: block;
    }
    .process-item-left{
        margin-right:50px;
    }
    .process-item-right{
        margin-left:50px;
    }
    .process-item-left .process-item{
        padding:14px 75px;
    }
    .process-item-right .process-item{
        padding:14px 75px;
    }
    /* contact-us */
    .contact-us-content{
        margin-top: 0;
    }
    .contact-us-content form{
        margin-top: 10px;
    }
}
@media screen and (min-width:1400px) {
    /* Global*/
     .container-cus{
        max-width: 1320px;
        padding:0;
    }
    /* Header */
    .header .container{
        max-width:1320px;
    }
    /* Process Execution */
    .process-item-left{
        margin-right:0;
    }
    .process-item-right{
        margin-left:0;
    }
    .process-item-left .process-item{
        padding:14px 75px 14px 115px;
    }
    .process-item-right .process-item{
        padding:14px 100px 14px 75px;
    }
    /* contact-us */
    .contact-us-content{
        margin-top: 0;
    }
}
@media screen and (min-width:1600px){
    /* Header */
    .header .container{
        max-width:1560px;
    }
    /* Contact */
    .contact-us-content{
        margin-top: calc(43px + 8vh);
    }
}